.logo {
	object-fit: contain;
	display: block;
	margin: 0 auto;
	padding: 0;
	border: none;
	background: none;
	outline: none;
	width: 50%;
}

@media (max-width: 590px) {
	.logo {
		max-width: 150px !important;
	}
}
