.modal {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	background: var(--black-transparent);
	transition: all 0.3s ease-in-out;

	&-content {
		position: relative;
		width: 100%;
		max-width: 720px;
		padding: 2rem;
		background-color: var(--white);
		margin: 1rem;

		animation-name: pop;
		animation-duration: 0.5s;
		animation-timing-function: ease-out;
		animation-fill-mode: both;
	}

	.modal__buttons {
		display: flex;
		justify-content: center;
		gap: 2rem;
		margin-top: 2rem;
	}

	.close {
		float: right;
		cursor: pointer;
		transition: all 0.1s ease-in-out;

		&:hover {
			color: var(--theme-secondary);
		}
	}
}
@keyframes pop {
	0% {
		opacity: 0;
		transform: scale(0.5) rotate(0deg);
	}
	50% {
		transform: scale(1.2) rotate(2deg);
		opacity: 1;
	}
	100% {
		transform: scale(1) rotate(0deg);
	}
}
