.layout {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	&__header {
		display: flex;
		padding: 1rem;
		justify-content: space-between;

		.header-button-container {
			display: flex;
			align-items: center;
			width: 100%;
			max-width: 280px;

			&:first-child {
				justify-content: flex-start;
			}

			&:last-child {
				justify-content: flex-end;
			}
		}
	}

	&--centered {
		justify-content: center;
	}

	&__content--centered {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
}

.parallax {
	position: fixed;
	width: calc(100vw + 200px);
	height: calc(100vh + 200px);
	overflow: hidden;
	top: -100px;
	left: -100px;
	z-index: -1;
}

.parallax-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

@media (max-height: 780px) {
	.layout__header {
		padding: 0.5rem;
	}
}
