.layout {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	&__header {
		display: flex;
		padding: 0.5rem 1rem 0 1rem;
		justify-content: space-between;

		.header-button-container {
			display: flex;
			align-items: center;
			width: 100%;
			max-width: 280px;

			&:first-child {
				justify-content: flex-start;
			}

			&:last-child {
				justify-content: flex-end;
			}
		}

		.bingo-count {
			color: #fff;
			font-weight: bold;
			font-size: xx-large;
			transform: scale(1) rotate(-2deg);

			&.pulse0,
			&.pulse1 {
				animation: pulse 2s infinite;
			}

			&.pulse2 {
				animation: pulse2 2s infinite;
			}

			&.pulse3 {
				animation: pulse3 2s infinite;
			}

			&.pulse4 {
				animation: pulse4 1s infinite;
			}

			&.pulse5 {
				animation: pulse4 1s infinite;
			}

			&.pulse6,
			&.pulse7,
			&.pulse8,
			&.pulse9,
			&.pulse10,
			&.pulse11,
			&.pulse12 {
				animation: pulse5 2s infinite;
			}
		}
	}

	&--centered {
		justify-content: center;
	}

	&__content--centered {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
}

.parallax {
	position: fixed;
	width: calc(100vw + 200px);
	height: calc(100vh + 200px);
	overflow: hidden;
	top: -100px;
	left: -100px;
	z-index: -1;
}

.parallax-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

@media (max-height: 780px) {
	.layout__header {
		padding: 0.5rem;
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.95) rotate(-1deg);
	}

	70% {
		transform: scale(1) rotate(-2deg);
	}

	100% {
		transform: scale(0.95) rotate(-1deg);
	}
}

@keyframes pulse2 {
	0% {
		transform: scale(0.95) rotate(0deg);
	}

	70% {
		transform: scale(1.05) rotate(-2deg);
	}

	100% {
		transform: scale(0.95) rotate(0deg);
	}
}

@keyframes pulse3 {
	0% {
		transform: scale(0.95) rotate(0deg);
	}

	70% {
		transform: scale(1.05) rotate(-2deg);
	}

	100% {
		transform: scale(0.95) rotate(0deg);
	}
}

@keyframes pulse4 {
	0% {
		transform: scale(0.95) rotate(0deg);
	}

	70% {
		transform: scale(1.4) rotate(-2deg);
	}

	100% {
		transform: scale(0.95) rotate(0deg);
	}
}

@keyframes pulse5 {
	0% {
		transform: scale(0.95) rotate(2deg) translate(0, 0);
	}

	70% {
		transform: scale(1.8) rotate(-2deg) translate(-30px, 0px);
	}

	100% {
		transform: scale(0.95) rotate(2deg) translate(0, 0);
	}
}
