* {
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	outline: none;
	margin: 0;
	padding: 0;
	transition: none;
}

html {
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

a {
	background-color: transparent;
	text-decoration: none;
	color: var(--white);

	&:focus {
		text-decoration: none;
	}

	&:visited {
		text-decoration: none;
	}
}

img {
	border-style: none;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
